*{
    box-sizing: border-box;
}
body{
    background-color: #1B1B32;
}

main{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.box{
    padding-bottom: 20px;
    height: 700px;
    width: 380px;
    background-color: rgb(222, 239, 245);
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgb(185, 206, 211);
}
#search-input{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
#search-button{
    margin-left: 10px;
    height: 35px;
    width: 70px;
    background-color: rgb(2, 48, 118);
    border-radius: 10px;
    color: rgb(177, 224, 239);
    border: none;
    cursor: pointer;
}
#content{
    margin: 10px;
}
#contentUpper{
    color: #1B1B32;
    background-color: rgb(148, 185, 218);
    height: 250px;
}
#name-id-h-w{
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    height: 50px;
    line-height: 6px;
}
#pics{
    padding: 20px;
    height: 100px;
    
}
#containerLower{
    height: 300px;
}
#types{
    color: yellow;
    display: flex;
}
.left{
    margin-top: 2px;
    margin-bottom: 2px;
    height: 40px;
    width: 230px;
    background-color: rgb(2, 48, 118);
}
.right{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: auto;
    height: 40px;
    width: 125px;
    background-color: rgb(2, 48, 118);
}
#info{
    display: flex;
    justify-content: space-between;
}